// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Markazi+Text');
@import url('https://fonts.googleapis.com/css?family=Taviraj');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    color:rgba(0,0,125,1);
    // font-family: 'Abril Fatface', cursive;
    // font-family: 'Noto Serif', serif;
    // font-family: 'Markazi Text', serif;
    font-family: 'Taviraj', serif;

    background: linear-gradient($moneyBackgroundTan, lighten($moneyBackgroundTan, 5%));
    // background: linear-gradient(lighten(#E8E9C9, 25%), #E8E9C9);

}

.money-caps-font-dark {
    color: $moneyPrimaryGray;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 2px 2px 0px $moneyBackgroundTan, 4px 4px 1px lighten($moneyPrimaryGray, 15%);
    text-align: center;
    word-spacing:1rem;
    letter-spacing: 0.1rem;
    font-size: 3rem;

    // font-family: 'Noto Serif', serif;
    // font-family: 'Markazi Text', serif;
    // font-family: 'Taviraj', serif;


}

.money-caps-font-tan {
    color: $moneyBackgroundTan;
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 2px 2px 0px $moneyBackgroundTan, 4px 4px 1px lighten($moneyPrimaryGray, 15%);
    text-align: center;
    word-spacing:1rem;
    letter-spacing: 0.1rem;
    font-size: 3rem;

    // font-family: 'Noto Serif', serif;
    // font-family: 'Markazi Text', serif;
    // font-family: 'Taviraj', serif;


}

.money-thin-border {
    border: 1px solid $moneyPrimaryGray;
    margin: 15px;
    padding: 2px;
    height: calc(100vh - 30px);
}

.money-thick-border-end {
    border: 1px solid rgba($moneyLightGreen, 0.25);
    margin: 0;
    padding: 0;
    background-color: $moneyBackgroundTan;
    height: calc(100vh - 60px);
}

.money-thick-border-start {
    border: 1px solid $moneyPrimaryGray;

    background:transparent url(/assets/illustrations/money-pattern-1.png) repeat;

    margin: 0;
    padding: 50px;
}

.background-gradient {
    // background: radial-gradient(circle, rgba(73,72,68,1) 21%, rgba(255,255,255,1) 75%);
    background: radial-gradient(circle, rgba(73,72,68,1) 21%, transparent 75%);
}

.hidden {
    visibility: none;
    display:none;
}